doctype html
head
  title Login V15
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1')
  // ===============================================================================================
  link(rel='stylesheet' type='text/css' href='css/util.css')
  link(rel='stylesheet' type='text/css' href='css/main.css')
  // ===============================================================================================
.limiter
  .container-login100
    .wrap-login100
      .login100-form-title(style='background-image: url(img/bg-02.jpg);')
      form.login100-form.validate-form
        .wrap-input100.validate-input.m-b-26(data-validate='Username is required')
          span.label-input100 Username
          input.input100(type='text' name='username' placeholder='Enter username')
          span.focus-input100
        .wrap-input100.validate-input.m-b-18(data-validate='Password is required')
          span.label-input100 Password
          input.input100(type='password' name='pass' placeholder='Enter password')
          span.focus-input100
        .flex-sb-m.w-full.p-b-30
          .contact100-form-checkbox
            input#ckb1.input-checkbox100(type='checkbox' name='remember-me')
            label.label-checkbox100(for='ckb1')
              | Remember me
          div
            a.txt1(href='#')
              | Forgot Password?
        .container-login100-form-btn
          button.login100-form-btn
            | Login
      .login100-download
        .download100 &amp;nbsp&amp;nbspCitizen One Mobile App 
        .download100
          img(src='img/Untitled3.png' alt='Logo')
// ===============================================================================================
script(src='vendor/jquery/jquery-3.2.1.min.js')
// ===============================================================================================
script(src='vendor/animsition/js/animsition.min.js')
// ===============================================================================================
script(src='vendor/bootstrap/js/popper.js')
script(src='vendor/bootstrap/js/bootstrap.min.js')
// ===============================================================================================
script(src='vendor/select2/select2.min.js')
// ===============================================================================================
script(src='vendor/daterangepicker/moment.min.js')
script(src='vendor/daterangepicker/daterangepicker.js')
// ===============================================================================================
script(src='vendor/countdowntime/countdowntime.js')
// ===============================================================================================
script(src='js/main.js')
