doctype html
head
  // Required meta tags
  meta(charset='utf-8')
  meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
  meta(name='keywords' content='information technology, IT, coding, programming, HTML, HTML5, CSS, XML, XHTML, JavaScript, dever')
  meta(name='description' content='Dever website is designed for developers to share information and discuss IT issues or ideas.')
  meta( name='author' content='zhaoyzhcyx')
  // Bootstrap CSS
  link(rel='stylesheet' href='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css' integrity='sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T' crossorigin='anonymous')
  // <link rel="stylesheet" href="../angular/bootstrap-4.3.1-dist/css/bootstrap.min.css">
  link(rel='shortcut icon' href='img/Dever.png' type='image/x-icon')
  // Optional JavaScript
  // jQuery first, then Popper.js, then Bootstrap JS
  script(src='https://code.jquery.com/jquery-3.3.1.slim.min.js' integrity='sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo' crossorigin='anonymous')
  script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js' integrity='sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1' crossorigin='anonymous')
  script(src='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js' integrity='sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM' crossorigin='anonymous')

  block styles
  block script
body  
  // top navigation
  nav.navbar.navbar-expand-md.navbar-dark.bg-dark.mb-3
    .container-fluid
      .navbar-nav
        a.nav-item.nav-link.active(href='/') IT Event
        a.nav-item.nav-link(href='/newevent') Add IT Event

  block content