extends ./layout.pug

block styles
  title New IT Event

block navcontent
  a.nav-item.nav-link(href='/') IT Event List
  a.nav-item.nav-link.active(href='/newevent') New IT Event

block content
  form.container(action='addevent' method='POST' enctype='application/x-www-form-urlencoded')
    .form-row
      .col-md-6.mb-3
        label(for='eventname') Event name
        input#eventname.form-control(type='text' name='eventname' placeholder='Event Name' required='')
      .col-md-6.mb-3
        label(for='organizer') Organizer
        input#organizer.form-control(type='text' name='organizer' placeholder='Organizer')
    .form-row
      .col-md-3.mb-3
        label(for='startdate') Duration
        input#startdate.form-control(type='datetime-local' name='startdate' placeholder='Start Time' required='')
      .col-md-3.mb-3
        label(for='enddate') &nbsp&nbsp
        input#enddate.form-control(type='datetime-local' name='enddate' onmousemove='setEndDate()' placeholder='End Time' required='')
      .col-md-6.mb-3
        label(for='location') Location
        input#location.form-control(type='text' name='location' placeholder='Location' required='')
    .form-row
      .col-md-6.mb-3
        label(for='website') Website
        input#website.form-control(type='text' name='website' placeholder='Website')
      .col-md-6.mb-3
        label(for='image') Image
        input#image.form-control(type='text' name='image' placeholder='image')
    .form-row
      .col-md-6.mb-3
        label(for='desc') Description
        textarea#desc.form-control(name='desc' placeholder='Event Description' rows='5' required='')
    button.btn.btn-primary(type='submit') Submit
